# Ignorar a pasta do ambiente virtual do Python
venv/
.venv/

# Ignorar arquivos de cache e compilação do Python
__pycache__/
*.pyc

# Se o GitHub adicionou alguma linha, mantenha-a abaixo:
# .DS_Store